.audio-decs {
    display: grid;
    grid-template-columns: 20% 80%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    padding: 10px;
    z-index: 1;
    background-color: rgb(244, 244, 244);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.audio-data {
    display: grid;
    grid-template-columns: 30% 80%;
}

.audio-decs h4 {
    font-family: 'Baloo Bhai 2', cursive;
    line-height: 0.9;
    font-size: 1.15rem;
    color: rgb(31, 29, 29);
    /* color: blue; */

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.audio-decs p {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 0.9rem;
    color: rgb(156, 156, 156);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#audioPlayer {
    width: 100%;
}

#audioPlayer:focus {
    outline: none;
}