#body-center {
    height: 550px;
    padding: 20px;
    margin-left: 240px;
    padding-right: 40px;
    overflow: auto;
}

.card {
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 25% 75%;
}

.cardData {
    padding: 0px 20px;
}

.card img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4%;
    margin: 0px auto;
    height: 240px;
    width: 85%;
}

h2 {
    margin-left: 35px;
}

#add_song_btn {
    text-decoration: none;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
    padding: 9px 31px;
    margin: 20px 0px;
    font-size: 1rem; 
    outline: none;
    color: white;
    background-color: #2bc5b4;
    cursor: pointer;
    border-radius: 21px;
    transition: 0.3s;
}

#add_song_btn:hover {
    background-color: #30e6d0;
    transition: 0.3s;
}

.sameMovieCard {
    margin: 5px 150px 5px 20px;
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 10px 5px;
    transition: 0.3s;
}

.sameMovieCard:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
}

.headings {
    margin: 30px 10px 10px 65px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    color: rgb(43, 43, 43);
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#playlist {
    list-style: none;
}

#playlist li a {
    color: rgb(179, 177, 177);
    text-decoration: none;
    transition: 0.2s;
}

#playlist li a:hover {
    color: #2bc5b4;
    transition: 0.2s;
}

#playlist .current-song a {
    color: #2bc5b4;
}




.container_songpost {
    border-radius: 4%;
    position: relative;
    margin: 1px 0px 1px 45px;
    width: 75%;
    height: 50px;
}

.overlay_songpost {
    position: absolute;
    border-radius: 4%;
    top: 0;
    left: 0;
    width: 70%;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s ease;
}

.sameMovieCard:hover .overlay_songpost {
    display: block;
    background: rgba(0, 0, 0, .65);
}

.container_songpost img {
    border-radius: 4%;
    position: absolute;
    width: 70%;
    margin: auto;
    height: 50px;
    left: 0;
}

.play-btn_songpost {
    position: absolute;
    width: 55px;
    left: 0;
    top: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity .2s ease;
}

.songpost_data {
    display: grid;
    grid-template-columns: 25% 30% 25% 20%;
}

.singer-name {
    margin: auto 30px;
    color: rgb(143, 142, 142);
    font-size: 0.8rem;
}

.song-name {
    margin: auto 5px;
    color: rgb(75, 74, 74);
    font-size: 0.85rem;
}

.movie-name {
    margin: auto;
    color: rgb(143, 142, 142);
    font-size: 0.8rem;
}

.remove-song-from-playlist-btn {
    margin: auto;
    font-size: 1.5rem;
    opacity: 0;
    cursor: pointer;
    transition: 0.25s;
}

.remove-song-from-playlist-btn:hover {
    transition: 0.25s;   
    color: red;
}

.sameMovieCard:hover .remove-song-from-playlist-btn {
    opacity: 1;
}
.sameMovieCard:hover .play-btn_songpost {
    opacity: 1;
}

.songName {
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 0.9rem;
    line-height: 2;
    color: rgb(71, 70, 70);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


@media only screen and (max-width: 600px) {
    #body-center {
        height: 550px;
        padding: 10px;
        margin-left: 0px;
        /* padding-right: 40px; */
        overflow: auto;
    }

    .card {
        padding: 30px 20px;
        display: grid;
        grid-template-columns: 100%;
    }

    .sameMovieCard {

        margin: 5px 5px 5px 15px;
        display: grid;
        width: 90%;
        grid-template-columns: 20% 80%;
        padding: 10px 5px;
        transition: 0.3s;
    }

    .headings {
        margin: 5px 10px 10px 25px;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
        color: rgb(43, 43, 43);
    }

    .cardData {
        padding: 0px 20px;
        text-align: center;
    }

    .container_songpost {
        border-radius: 4%;
        position: relative;
        margin: 5px auto;
        width: 90%;
        height: 50px;
    }

    .songpost_data {
        display: grid;
        grid-template-columns: 100%;
    }

    .play-btn_songpost {
        width: 42px;
        top: 8px;
    }

    .singer-name {
        margin: 5px;
    }

    .song-name {
        margin: 5px;
        color: rgb(75, 74, 74);
        font-size: 0.85rem;
    }

    .movie-name {
        visibility: hidden;
    }
}