{%extends 'header.html'%}
{% block body %}
{% load static %}

<link rel="stylesheet" href="{% static 'songpost.css' %}">
<style>


</style>


<body>
    <div id="body-center">
        <div id="playlist">
            <div class="card">
                <img src="{{song.image.url}}" id="A_{{song.song_id}}" />
                <div class="cardData">
                    <h1 style="font-family: Lato,sans-serif; font-weight: 500; font-size: 2.25rem; line-height: 1.8; word-spacing: 1px; color: rgb(29, 29, 29);"
                        id="B_{{song.song_id}}">{{song.name}}</h1>
                    <p style="margin: 0px 10px 10px 0px; font-size: 1rem; font-family: 'Roboto', sans-serif; color: rgb(172, 169, 169);"
                        id="C_{{song.song_id}}">{{song.movie}} by {{song.singer1}}</p>
                    <p
                        style="margin: 0px 10px 10px 0px; font-size: 1rem; font-family: 'Roboto', sans-serif; color: rgb(172, 169, 169);">
                        Song | {{song.count}} Plays | {{song.language}} | {{song.tags}}</p>
                    <p
                        style="margin: 0px 10px 10px 0px; font-size: 1rem; font-family: 'Roboto', sans-serif; color: rgb(172, 169, 169);">
                        &#169;{{song.year}} {{song.productionHouse}}</p>
                    <div style="display: flex; align-content: center;">
                        <li style="margin: auto 0px;" class="current-song"><a href="{{song.song.url}}"
                                id="{{song.song_id}}"><i class="fas fa-play-circle fa-3x"></i></a></li>
                        {% if user.is_authenticated %}
                        <form style="margin: auto 0px;" id="my_form">{% csrf_token %}
                            <input type="hidden" id="helo" value="{{song.song_id}}">
                            <button type="submit" id="likeButton"><i class="fas fa-heart fa-4x"></i></button>
                        </form>
                        {% else %}
                        <a id="likeButton"><i class="fas fa-heart fa-3x"></i></a>
                        <script>
                            $('#likeButton').click(function () {
                                $('#modal_trigger').click();
                            });
                        </script>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if isAlbum %}
            {% for i in sameMovieSongs %}
            <div id="sameMovieCard">
                <div class="container_songpost">
                    <img src="{{i.image.url}}" id="A_{{i.song_id}}" />
                    <div class="overlay_songpost"></div>
                    <div class="play-btn_songpost">
                        <li><a href="{{i.song.url}}" id="{{i.song_id}}"><i class="far fa-play-circle fa-2x"></i></a>
                        </li>
                    </div>
                </div>
                <div class="songpost_data">
                    <h5 class="song-name" id="B_{{i.song_id}}">
                        {{i.name}}</h5>
                    <p class="singer-name">{{i.singer1}}</p>
                    <p class="movie-name" id="C_{{i.song_id}}">
                        {{i.movie}}</p>
                </div>
            </div>
            {% endfor %}

            {% else %}

            {% if sameMovieSongs %}
            <p class="headings" id="C_{{song.song_id}}">More songs from {{song.movie}}</p>
            {% for i in sameMovieSongs %}

            <div id="sameMovieCard">
                <li style="margin: auto;"><a href="{{i.song.url}}" id="{{i.song_id}}"><i
                            class="far fa-play-circle fa-2x"></i></a></li>
                <img style="display: none;" src="{{i.image.url}}" id="A_{{i.song_id}}" />
                <div class="songpost_data">
                    <h5 class="song-name" id="B_{{i.song_id}}">
                        {{i.name}}</h5>
                    <p class="singer-name">{{i.singer1}}</p>
                    <p class="movie-name" id="C_{{i.song_id}}">
                        {{i.movie}}</p>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endif %}
            
            {% if recommendedSongs %}
            <p class="headings" id="C_{{song.song_id}}">Songs suggested By Recommendation Engine</p>

            {% for i in recommendedSongs %}

            <div id="sameMovieCard">
                <div class="container_songpost">
                    <img src="{{i.image.url}}" id="A_{{i.song_id}}" />
                    <div class="overlay_songpost"></div>
                    <div class="play-btn_songpost">
                        <li><a href="{{i.song.url}}" id="{{i.song_id}}"><i class="far fa-play-circle fa-2x"></i></a>
                        </li>
                    </div>
                </div>
                <div class="songpost_data">
                    <h5 class="song-name" id="B_{{i.song_id}}">
                        {{i.name}}</h5>
                    <p class="singer-name">{{i.singer1}}</p>
                    <p class="movie-name" id="C_{{i.song_id}}">
                        {{i.movie}}</p>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endif %}

        {% if recommendedSingers %}
        <h2 style="margin-bottom: -30px; margin-left: 5px; margin-top: 100px; font-size: 1.35rem; font-family: sans-serif; color: rgb(65, 63, 63); ">
            Recommended Artists</h2>
        <div class="main-carousel" data-flickity='{"groupCells":2 , "contain": true, "pageDots": false}'>
            {% for i in recommendedSingers %}
            <div class="carousel-cell">
                <div class="song-card">
                    <div class="containera">
                        <img style="border-radius: 100%;" src="{{i.image.url}}" alt="" />
                        <div style="border-radius: 100%;" class="overlaya"></div>
                        <div class="play-btn"><a href="/album/{{i.singer_id}}"> <i class="fas fa-play-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <p class="songName">{{i.name}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div id="footer"></div>
    </div>

    {% endblock %}

    {% block javascript %}
    <!-- -----------------------------------------------JS for Autoplay-------------------------------------------------------------------------- -->
    <script>
        $(document).ready(function () {
            var currentSong = 0;
            $("#audioPlayer")[0].src = $("#playlist li a")[0].href;
            // console.log($("#playlist li a")[0].href);
            // play($("#playlist li a")[0]);
            $("#audioPlayer")[0].play();
            $("#playlist li a").click(function (e) {
                e.preventDefault();
                audioBar(this);
                $("#audioPlayer")[0].src = this;
                $("#audioPlayer")[0].play();
                $("#playlist li").removeClass("current-song");
                currentSong = $(this).parent().index();
                $(this).parent().addClass("current-song");
            });

            $("#audioPlayer")[0].addEventListener("ended", function () {
                currentSong++;
                if (currentSong == $("#playlist li a").length)
                    currentSong = 0;
                $("#playlist li").removeClass("current-song");
                $("#playlist li:eq(" + currentSong + ")").addClass("current-song");
                // $(".audioBar").addClass("hii");
                $("#audioPlayer")[0].src = $("#playlist li a")[currentSong].href;
                audioBar($("#playlist li a")[currentSong]);
                $("#audioPlayer")[0].play();
            });
        });
    </script>
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------ -->
    <div id="audio_main" class="audio-decs">
        <div class="audio-data">
            <img id="audio-img" style="height: 53px; width: 64%; border-radius: 4%; margin: 3px 0px 3px 30px;"
                src="{{song.image.url}}" alt="Image here">
            <div style="margin: auto 6px;">
                <h4 id="audio-song">{{song.name}}</h4>
                <p id="audio-movie" style="color: rgb(151, 151, 151);">{{song.movie}}</p>
            </div>
        </div>
        <div style="margin: auto 0px;">
            <audio preload="none" controls id="audioPlayer">
                <!-- <source type="audio/mp3" /> -->
            </audio>
        </div>
    </div>



    <script>
        var play = true;

        var myAudio = document.getElementById("audioPlayer");

        function onKeyDown(event) {
            switch (event.keyCode) {
                case 32: //SpaceBar                    
                    if (play) {
                        myAudio.pause();
                        play = false;
                    } else {
                        myAudio.play();
                        play = true;
                    }
                    break;
            }
            return false;
        }

        window.addEventListener("keydown", onKeyDown, false);
    </script>    




    <script>
        var baby = 'my_form';
        var boby = 'helo';
        // var sub = $('#sub').click();
        $('#' + baby).submit(function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/likesong',
                data: {
                    music_id: $('#' + boby).val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function () {
                    console.log("Request Submitted");
                }
            });
        });
    </script>

    {% if user.is_authenticated %}
    <script>
        // var isLiked = "{{isLiked}}";

        var state = "{{isLiked}}";
        console.log(state);

        $(document).ready(function () {
            if (state == "True") {
                $("#likeButton").css("color", "red");
                state = true;
            } else {
                $("#likeButton").css("color", "grey");
                state = false
            }
            $("#likeButton").click(function () {
                $("#likeButton").css("color", state ? "grey" : "red");
                if (state == false) {
                    // alert("Removed from liked songs!");
                    showAlert('success', "Song Added")
                } else {
                    // alert("Added to liked songs!")
                    showAlert('error', "Song Removed")
                }
                state = !state;
            });
        });
    </script>

    {% endif %}


    {% endblock %}